@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

* {
  margin: 0;
  padding: 0;
}

.welcome-page {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.todos-header {
  width: 300px;
  margin-left: 20%;
}

.todos-priorty{
  text-align: center;
  font-family: Sedgwick Ave, sans-serif;
  margin: 20px 0;
  font-size: 24px;
}

.todos-high-prio{
  background-color: lightcoral;
}

.todos-medium-prio{
  background-color: lightblue;
}

.todos-low-prio{
  background-color: lightgreen;
}

.todos-todo{
  margin: 20px 0;
}
